.one{
  background:url("../images/hero.jpg");
}

.two{
    background-color: grey;
}

}
h1{
  color: white;
  font-style: oblique;
  font-size: 32px;
  text-align: center;
}

p{
  color: white;
  font-size: 15px;
  text-align: center;
}
